.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
} 

.central-text {
  margin-top: 15%;
  text-align: center;
}

.red_rectangle {
  height: 80px;
  width: 200px;
  margin: 200px auto;
  background-color: red;
}

p {
  font-family: Arial;
  margin-left: 20%;
  margin-right: 20%;
  color: #209bf2
}